@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #0c192c;
  cursor: none;
  font-family: "Quantico", sans-serif;
}

.box {
  margin-top: 10px;
  position: relative;
  width: 28em;
  height: 37.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(
    from var(--a),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 35%,
    #ff2770 50%
  );
  animation: animate 4s linear infinite;
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #45f3ff 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 35%,
    #45f3ff 50%
  );
  animation: animate 4s linear infinite;
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
  animation-delay: -1s;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #2d2d39;
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
}

.box form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
  z-index: 1000;
  color: #fff;
}

.box form .logo {
  display: flex;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.logo span:nth-child(even) {
  color: #ff2770;
}

.logo span:nth-child(odd) {
  color: #45f3ff;
}

.inputBox {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputBox label {
  cursor: none;
}

.inputBox i {
  position: absolute;
  right: 15px;
  bottom: 12px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.inputBox p {
  font-size: 12px;
  color: #ff2770;
  transition: 0.3s;
}

.box form input:focus ~ i,
.box form input:valid ~ i {
  color: #45f3ff;
}

.labelPassword {
  display: flex;
  justify-content: space-between;
}

.box form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.05em;
  cursor: none;
}

.box form input:focus,
.box form input:valid {
  border: 2px solid #45f3ff;
}

.box form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login {
  width: 85%;
}

.box form .account button:hover {
  color: black;
}

.box form .account button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #45f3ff;
  z-index: -1;
  transition: transform 1s;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.box form .account button:hover::before {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  font-weight: 500;
  cursor: none;
  color: #ff2770;
}

a:hover {
  color: #45f3ff;
}

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-top: 5px solid #0f0;
  border-left: 5px solid #0f0;
  transform-origin: top;
  transform: translate(-1px, 5px) rotate(15deg) scale(0);
  transition: 0.1s;
  pointer-events: none;
  animation: animateCursor 5s linear infinite;
  z-index: 10000;
}

#cursor::before {
  content: "";
  position: absolute;
  left: -2.5px;
  width: 5px;
  height: 30px;
  background: #0f0;
  transform-origin: top;
  transform: rotate(316deg);
}

body:hover #cursor {
  transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes animateCursor {
  0% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0) drop-shadow(0 0 30px #0f0) hue-rotate(0deg);
  }

  100% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0) drop-shadow(0 0 30px #0f0) hue-rotate(360deg);
  }
}

.line {
  width: 85%;
  display: flex;
  flex-direction: row;
  border: none;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.line::after,
.line::before {
  content: "";
  border-bottom: 1px solid #fff;
  flex: 1 0 auto;
  height: 0.5em;
  margin: 0;
}

.line span {
  margin-top: -2.5px;
  text-align: center;
  flex: 0.2 0 auto;
}

.account {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notching {
  background-color: #45f3ff;
  padding: 2px;
  clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0 calc(100% - 10px),
    0 10px
  );
}

.notching.login button {
  justify-content: center;
  font-weight: 700;
  background: #45f3ff;
  color: black;
  transition: 0.6s;
}

.notching.login button:hover {
  background: #2d2d39;
  color: #fff;
}

button {
  width: 100%;
  background: linear-gradient(to right, #45f3ff 15%, #2d2d39 15%);
  color: #fff;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 10px 12px;
  cursor: none;
  font-size: 1em;
  border: none;
  clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0 calc(100% - 10px),
    0 10px
  );
}

.account img {
  width: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 24px;
  color: #45f3ff;
}

.footer a {
  margin: 0 10px;
}
